body{
    margin: 0;
    padding: 0;
    font-size: 21px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: white;
}
img{
    vertical-align: unset;
}
.btn.focus, .btn:focus{
    box-shadow: none;
}
#first{
    width: 98%;
}
#first nav{
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
#first div.card{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: rgba(255,255,255,1);
}
.navbar-light .navbar-nav .nav-link{
    color: rgba(255,255,255,0.6);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: rgba(255,255,255,1);
}
.navbar-light .navbar-toggler{
    color: rgba(255,255,255,0.6);
    border:none;
}
.navbar-light .navbar-toggler-icon{
    background: url("../images/3-poloski.png") no-repeat center;
}
.card{
    background: url("../images/back.jpg") round;
    border: none;
    border-radius: unset;
}
h1{
    font-size: 3.5em;
    font-weight: 600;
}
h2{
    font-size: 3.5em;
    font-weight: 200;
}
h5{
    font-size: 3.25rem;
    color:#3b3b3b;
}
h6{
    color:#3b3b3b;
    font-size: 1.6rem;
}
p{
    font-weight: 300;
    font-size: 1.6rem;
}
.container-fluid{
    padding: 0;
    margin: auto;
    width: 95%;
}
.card.mb-3.big{
    background: #f6f6f6;
    color: black;
    border-radius: 7px;
}
.big{
    height: 100%;
}
.big img{
    vertical-align: bottom;
}
.low{
    background: none;
    color: black;
    height: 100%;
}
.low p.card-text{
    color: #777777;
}
.low span{
    font-weight: 300;
}
.row{
    margin-top: 15px;
}
.btn.btn-lg{
     width: auto;
 }
.btn.btn-lg.btn-outline{
    border: 1px solid #ef4a61;
    background-color: white;
    color: #ef4a61;
}
.btn.btn-lg.btn-outline:hover{
    border: 1px solid #ffffff;
    background-color: #ef4a61;
    color: #ffffff;
}
button.btn.btn-lg.btn-block{
    background-color: #ef4a61;
    color: white;
}
button.btn.btn-lg.btn-block:hover{
    border: 1px solid #ef4a61;
    background-color: #f6f6f6;
    color: #ef4a61;
}
.btn.btn-md{
    width: auto;
}
.btn.btn-md.btn-outline{
    border: 1px solid #ef4a61;
    background-color: white;
    color: #ef4a61;
}
.btn.btn-md.btn-outline:hover{
    border: 1px solid #ffffff;
    background-color: #ef4a61;
    color: #ffffff;
}
button.btn.btn-md.btn-block{
    background-color: #ef4a61;
    color: white;
}
button.btn.btn-md.btn-block:hover{
    border: 1px solid #ef4a61;
    background-color: #f6f6f6;
    color: #ef4a61;
}



.carousel-indicators {
    position: absolute;
    list-style-image: url("../images/active-slider.png");
    padding-bottom: 2%;
}

.carousel-indicators li{
    box-sizing: inherit;
}

.slider{
    background-image: url(../images/back2.png);
    border-radius: 7px;
}
.slider a.nav-link{
    color: rgba(255,255,255,0.6);
}
.slider a.nav-link:hover{
    color: rgba(255,255,255,1);
}
.slider p.nav-item.active a.nav-link{
    color: rgba(255,255,255,1);
}
#carouselExampleIndicators{
    padding: 5% 0;
}
#slider-box{
    width: 98%;
}

/*CATALOG*/
.breadcrumb-item+.breadcrumb-item::before{
    content: ">";
    color:#ef4a61;
}
.col-form-label-lg {
    font-size: 1.7rem;
}
.form-control {
    height: auto;
    line-height: 2.5;
    border: none;
    background-color: rgb(246,246,246);
}
.form-control:focus {
    border: none;
    background-color: rgb(246,246,246);
    box-shadow: none;
}
.breadcrumb{
    background:none;
}
.breadcrumb-item.active{
    color: black;
}
.breadcrumb-item a{
    color: #9ca4ad;
}
.breadcrumb-item a:hover{
    color: black;
    text-decoration: none;
}